<div class="docs">
    <label for="myfile">Pan Card:</label>&nbsp;&nbsp;&nbsp;
    <input type="file" name="pancard"><br>&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="voter">Aadhar Number:</label>&nbsp;&nbsp;&nbsp;
    <input type="file" name="aadharnumber"><br>&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="salslip">Salary Slip:</label>&nbsp;&nbsp;&nbsp; 
    <input type="file" name="salslip"><br>&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="loa">Property Documents:</label>&nbsp;&nbsp;&nbsp;
    <input type="file" name="propertydocuments"><br>&nbsp;&nbsp;&nbsp;&nbsp;
     </div>
   <table>
    <tr>
        <td><input type="reset" value="RESET" class="btn btn-danger"></td>
        <td> <input type="submit" value="SUBMIT" class="btn btn-success"> </td>
    </tr>
    </table>
