  <div class="navbar">
    
      <h2 class="nav">HomeLoan</h2>
  </div>
<div class="" style="border: 2px solid  cornsilk;padding:10px" >
  <a routerLink="/home" class="btn btn-success">HOME</a>
  <a routerLink="/customeregister" class="btn btn-success">
    SignUp</a>
<a routerLink="/login" class="btn btn-success"> 
  Login
</a>
<a routerLink="/adminlogin" class="btn btn-success">
  adminlogin
</a>
<a routerLink="/applicationdoc" class="btn btn-success">Applicationform</a>
<a routerLink="/document" class="btn btn-success">Documents Portal</a>
<a routerLink="/emical" class="btn btn-success">EMI</a>
<a routerLink="/eligcal" class="btn btn-success">ELIGIBILITY</a>
</div>
<div class ="middle">   
  <a href="Apply now" style="float:right; ">Apply Now</a>
</div>
<div class="foot">
 <h1>Welcome to homeloan</h1></div>
<router-outlet></router-outlet>
