<div class="detel">
    <h1>Open Happiness To <br> <span> MuchMore</span></h1>
    <p> You need it and we got It. Don't search in mind, search in Muchmore.<br>
         <br>Find It..! Love It...! Buy It...!</p>
    <a href="#">Home</a>
    <a href="#">Applicationdoc</a>
    <a href="#">Register</a>
    <a href="#">Login</a>
    <a href="#">Document</a>
</div>
<div class="images">
    <img src="assets/images/home1.png" class="shape">
    <img src="assets/images/Be-agile.png" class="cart">
</div>

<div class="social">
   <a href="#"><i class="fab fa-dribbble"></i></a>
   <a href="#"><i class="fab fa-instagram"></i></a>
   <a href="#"><i class="fab fa-behance"></i></a>
</div>
<router-outlet></router-outlet> 